body{
 /*   max-height: 120vh;*/
}

.up-section {
    border: 1px solid black;
    text-align: center;
    height: 30px;
}

.nav {
    border: black solid 1px;
    text-align: center;
    height: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
}

li{
    display: inline-block;
}

.hero {
    border: black 1px solid;
    text-align: center;
    height: 120px;
}

.main-section {
    border: black 1px solid;
    text-align: center;
    height: 180px;
}
.footer {
    border: solid black 1px;
    text-align: center;
    height: 40px;
}